.about-container {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.342);
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0 100px;
}

.item-about1, .item-about2, .item-about3  {
    display: flex;
    margin: 75px 100px;
    gap: 50px;
    align-items: stretch;
    flex-direction: row;
}

.item-about2 {
    flex-direction: row-reverse;
}

.about-text {
    font-size: 1.1rem;
    position: sticky;
}




@media screen and (max-width: 1260px) {
    .about-container {
        margin: 0 50px;
        padding:  0;
    }

    .item-about1, .item-about2, .item-about3 {
        flex-direction: column;
        margin: 50px 50px 25px;
        gap: 7px;
    }

    img {
        width: 100%;
        height: auto;
    }
}